* {
    top: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Akaya Telivigala", cursiva;
}

.header {
    width: 90%;
    margin: auto;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 80px;
    height: 50px;
}

.menu {
    align-items: end;
    display: flex;
    list-style-type: none;
    margin: 24px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.banner {
    height: 550px;
    background-image: url(../img/gabo.jpg);
    background-size: cover;
}

.banner h1 {
    text-align: right;
    font-size: 80px;
    padding: 150px 50px;
    font-family: 'Noto sans', sans-serif;
}

.biografia {
    background-color: rgba(231, 231, 231, 0.856);
    color: rgb(61, 60, 60);
    padding: 20px 100px 70px 100px;
}

.biografia p {
    font-size: 25px;
    text-align: justify;
}

.title-head {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.resumen {
    color: rgb(61, 60, 60);
    padding: 20px 100px 70px 100px;
    text-align: left;
    display: flex;
}

.resumen h3 {
    text-align: right;
    font-size: 45px;
    padding: 0px 50px 80px 40px;
    color: rgb(140, 140, 140);
    letter-spacing: 0.5px;
    font-family: 'Noto sans', sans-serif;
    text-transform: uppercase;
}

.resumen .contenido-obra{
    width: 70%;
}


.resumen p {
    margin: 10px;
    text-align: justify;
    font-size: 20px;
}

.actions{
    display: flex;
    gap:10px;
    margin: 40px 10px;
}
.actions a {
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.actions .btn{
    line-height: 15px;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    padding: 10px;
    text-align: center;
    
}

.actions .btn-read{
    background-color: #EF327E;
    width: 230px;
    display: inline-block;
}

.actions .btn-more{
    background-color: #33B5BC;
    width: 230px;
    display: inline-block;
}

.premios {
    text-align: center;
    padding: 10px;
    background-color: white;
}

.premios table {
    padding: 30px 100px;
}

.premios h2 {
    font-size: 40px;
    padding: 10px;
}

.premios td {
    font-size: 22px;
    float: left;
    padding: 12px 20px;
}

.premios td i {
    color: #707072;
}

.premios .year{
    font-weight: 400;
    border-right: 2px solid #535358;
    padding: 12px 8px;
    text-align: center;
    font-family: sans-serif;
}

.premios tr {
    color: black;
}


.premios tr:nth-child(odd) {
    background-color: #dddddd;
}

.contacto{
    padding: 20px 140px 70px 140px;
} 

.contacto .info-contacto{
    display: flex; 
}

.contacto p{
    font-size: 22px;
    padding: 0 10px;
}

.contacto .form-contact{
    width: 60%;
}

.form-contact label {
    display: block;
    font-weight:600;
    margin-bottom: .3rem;
    font-size: large;

}

.form-contact .form-control{
    outline: none;
    padding: 12px 20px;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control:focus {
    border: 1px solid #343A40;
    color: #343A40;
}

.form-contact .btn-enviar{
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px 20px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor:pointer;
    line-height: 1.5;
    box-shadow: none;
    border-width: 1px;
}   

.btn-enviar:hover{
    background-color: white;
    border: 1px solid #EF327E;
    color: #EF327E;
    font-weight: bold;
}

footer {
    background-color: #535358;
    color: rgb(235, 232, 227);
    text-align: center;
    padding: 20px 100px;
    font-family: sans-serif;
}


/* Resposive */
@media (max-width: 1080px) {
    .header{
        position:fixed;
        width: 100%;
        z-index: 5;
    }

    .banner{
        background-image: url("../img/library.jpg");
        width: 100%;
        height: 550px;
    }
    .banner::before {
        width: 100%;
        height: 550px;
        position:absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .banner h1{
        position: relative;
        z-index: 3;
        color: #EF327E;
        text-align: left;
        justify-content: flex-start;
    }

    .biografia{
        /* background-color: red; */
        padding: 20px 50px 70px 50px;
        font-size: 1rem;
    }

}

@media (max-width: 950px) {

    .banner{
        z-index: 4;
        width: 100%;
        height: 550px;
        background-color: #33B5BC;
    }

    .resumen {
        color: rgb(61, 60, 60);
        padding: 20px 80px 50px 80px;
        display: flex;
    }
    
    .resumen h3 {
        text-align: left;
        font-size:2.2rem;
        padding: 0px 50px 80px 0px;
        color: rgb(140, 140, 140);
    }
    
    .resumen .contenido-obra {
        width: 70%;
    }

    .contacto .info-contacto {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .contacto .form-contact {
        width: 100%;
        font-size: 1.5rem;
    }

}

@media (max-width: 780px){
    .resumen {
        padding: 20px 80px 50px 80px;
        display: flex;
        flex-direction: column;
    }
    .resumen h3 {
        text-align: center;
        font-size: 2.2rem;
        padding: 0px 0 20px 0px;
        color: rgb(140, 140, 140);
    }
    .resumen .contenido-obra {
        width: 100%;
       
    }
    .resumen .contenido-obra p{
        font-size: 1.5rem;
    }

    .premios table {
        padding: 20px 60px;
    }

    .premios td {
        font-size: 1.1rem;
        padding: 12px 20px;
    }
    .contacto {
        padding: 20px 30px;
        align-items: center;
        font-size: 1rem;
    }
    .form-control {
        width: 100%;
    }
}


@media (max-width: 600px) {
    .resumen {
        padding: 10px 20px 50px 20px;
        display: flex;
        flex-direction: column;
    }
    .contacto{
        padding: 20px 30px;
        align-items: center;
        font-size: 1rem;
    }

    .form-control{
        width: 100%;
    }
        
}


